@font-face {
	font-family: "Lato";
	src: url("assets/font/Lato-Regular.ttf");
}

@font-face {
	font-family: "Maven Pro";
	src: url("assets/font/MavenPro-Regular.ttf");
}

@font-face {
	font-family: "fontello";
	src: url('../assets/font/fontello.eot?71847581');
	src: url('../assets/font/fontello.eot?71847581#iefix') format('embedded-opentype'),
	url('../assets/font/fontello.woff2?71847581') format('woff2'),
	url('../assets/font/fontello.woff?71847581') format('woff'),
	url('../assets/font/fontello.ttf?71847581') format('truetype'),
	url('../assets/font/fontello.svg?71847581#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	color: #33AB92;
	font-size: 16px;
	line-height: 24px;
	display: inline-block;
	text-decoration: none;
}

i:hover {
	color: #fff;
}

.icon-location:before {
	content: '\e800';
}

.icon-phone:before {
	content: '\e801';
}

.icon-mail:before {
	content: '\e802';
}

.icon-twitter:before {
	content: '\f099';
}

.icon-facebook:before {
	content: '\f09a';
}

.icon-linkedin:before {
	content: '\f0e1';
}

.icon-dribbble:before {
	content: '\f17d';
}

.icon-pinterest:before {
	content: '\f231';
}

.icon-gplus:before {
	content: '\f30f';
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.5s ease;
}

html {
	font-size: 100%;

}

.wrapper {
	box-sizing: border-box;
	font-family: 'Arial';
	font-weight: 300;
	font-size: 1.3rem;
	display: flex;
	flex-direction: column;
	line-height: 2.3rem;
	width: 1400px;
	max-width: 100%;
	margin: 0 auto;

}

.content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1000px;
	margin: 0 auto;
}

/* About */

.about {
	background: #e7e7e7;
	padding: 12px 0 15px;;
}

.about__container {
	max-width: 980px;
	margin: auto;
	padding: 50px 28px;
	border-left: 1px solid #219d84;
	border-right: 1px solid #219d84;
}

.about__myphoto {
	overflow: hidden;
	visibility: hidden;
	transform: rotate(120deg);
	width: 240px;
	height: 188px;
	float: left;
	margin-right: 28px;
}

.about__myhoto--mask1 {
	overflow: hidden;
	width: 100%;
	height: 100%;
	transform: rotate(-60deg);
	backface-visibility: hidden;
}

.about__myhoto--mask2 {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 80%;
	background-image: url("../img/11.png");
	visibility: visible;
	transform: rotate(-60deg);
}

.about__myname {
	font-family: "Maven Pro", sans-serif;
	font-size: 2rem;
	color: #040505;
	padding: 0;
	margin: 0;
}

.about__aboutme {
	font-family: "Maven Pro", sans-serif;
	font-size: 1.5rem;
	color: #20816d;
	margin: 0;
	padding: 0;
}

.main-foto {
	text-align: center;
	max-width: 100%;
}

.picture {
	width: 100%;
	display: flex;
	justify-content: space-between;

}

.picture__img {
	width: 100%;
	max-width: 100%;

}

/*формление header*/
.main-header {
	margin: 0 auto;
	background-color: #292929;
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
}

.main-header__line {
	position: absolute;
	bottom: 0;
	height: 5px;
	width: 100%;
	background-color: #1e1e1e;
	z-index: 20;
}

/*оформление логотипа*/
.logo-top {
	display: flex;
}

.logo-top__title,
.logo-top__dot {
	color: #fff;
	font-family: 'Eurofurence';
	font-weight: normal;
	font-size: 1.5rem;
}

.logo-top__dot {
	color: rgb(88, 201, 58);
}

.logo-top__link {
	font-size: 1.5rem;
	display: block;
	font-family: 'Eurofurence';
	color: #fff;
}

.contact__item {
	color: #fff;
}

/*description*/
.description {
	background-color: #e7e7e7;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.description__block-left {
	width: 63%;
	padding-left: 10px;
}

.description__block-right {
	outline: 1px solid black;
	width: 35%;
}

.vimdeo {
	margin: 50px auto;
	border-radius: 10px;
	display: block;
}

/*оформление бургера для мобилки*/

.section {

	display: none;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
	position: absolute;
	z-index: 100;
	width: 20px;
	height: 2px;
	background: #777;
	left: 50%;
	top: 50%;
	margin-left: -10px;
	margin-top: -1px;
}

.menu-btn span::before,
.menu-btn span::after {
	content: " ";
	display: block;
	transition: 0.2s;
}

.menu-btn span::before {
	transform: translateY(-5px);
}

.menu-btn span::after {
	transform: translateY(5px);
}

.menu-btn {
	display: none;
	margin: 15px 10px;
	z-index: 100;
	width: 40px;
	height: 30px;
	background-color: #fff;
	border-radius: 50%;
	position: relative;
}

@media screen and (max-width: 920px) {
	.menu-btn {
		display: block;
	}

	.section {
		z-index: 300;
		background: #fff;
		display: flex;
		align-items: center;
		right: 10px;
		border-radius: 50%;
	}
}

/*оформление меню в header*/
.nav-menu {
	height: 100%;

}

.main-menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	list-style-type: none;
	height: 100%;
	width: 560px;
	text-align: center;
	font-family: 'Eurofurence';
	font-size: 1.2rem;
}

.main-menu__item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	border-left: solid 1px #1d1d1d;
	font-weight: bold;
	height: 100%;
	border-bottom: 5px solid #1e1e1e;
}

.main-menu__item:last-child {
	border-right: solid 1px #1d1d1d;
}

.main-menu__link:first-child {
	color: rgb(88, 201, 58);
}

.main-menu__item:first-child {
	border-bottom: 5px solid rgb(88, 201, 58);
	z-index: 2;
}

.main-menu__link {
	text-decoration: none;
	color: #fff;
}

.main-menu__item:hover {
	border-bottom: 5px solid rgb(88, 201, 58);
	z-index: 2;
}

.main-menu__link:hover {
	color: rgb(88, 201, 58);
}

@media screen and (max-width: 919px) {
	.main-menu {
		display: none;
	}
}

/*боковой aside*/
.block-left {
	background: #f5f6f7;
	height: 100vh;
	position: fixed;
	width: 100vh;
	top: 0;
	opacity: 0;
	visibility: hidden;
	z-index: 100;
	left: 0;
	transition-delay: 300ms;
	box-sizing: border-box;
}

@media screen and (max-width: 920px) {
	.block-left {
		width: 100vh;
		background: #000000;
	}

	.main-menu__item a {
		color: #000000;
	}

	.main-menu {
		display: none;
	}

	.picture {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;

	}

	.picture__picture {
		margin: 5px 0;
		max-width: 100%;
		text-align: center;

	}
}
/*оформление мобильного меню*/
.block-left.active {
	background: rgba(0, 0, 0, 0.8);
	opacity: 1;
	visibility: visible;
	transition-delay: 0s;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 290;

}
.widget {
	margin-top: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.widget__list {

	text-align: center;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}
.widget__item {
	line-height: 2rem	;
}
.widget__link {
	display: inline-block;
	color: #fff;
	font-size: 1.4rem;
	margin: 20px auto;
	text-decoration: none;
}
.widget__link:hover {
	color: darkgreen;
	text-decoration: underline;
}
.block-left.active .block-left__inner {


}

.block-left.active .block-left__inner:after {

	border-radius: 50%;
	-webkit-animation: elastic 150ms ease 300.5ms both;
	animation: elastic 150ms ease 300.5ms both;
}

/*оформление контента music*/
/*оформление трех блоков*/

.music-block__title {
	height: 68px;
	color: #fefefe;
	background-color: #3498db;
	text-align: center;
	font-size: 1.8rem;
	background-color: #3498db;
	padding: 20px 50px;

}

/*оформление контента game*/
/*оформление трех блоков*/
.game,
.music-art {
	width: 100%;
	background: #f7f7f7;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.game__title,
.music-art__title {
	text-align: center;
	font-size: 1.8rem;
	font-weight: 600;
}

.game__text,
.music-art__text {
	font-size: 1.3em;
}

.bloc-game,
.music-art__wrap {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 20px;

}

.block-game__plan,
.music-art__block {
	width: 31%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 20px;
}

.block-game__title,
.music-block__title {
	margin: 0;
	padding: 8px 0 8px 15px;
	background: #5F2D0F;
	font-size: 1.5rem;
	line-height: 23px;
	color: #fff;
	text-align: center;

}

/*оформление блока ul*/

.block-game__list,
.music-art__list {
	padding: 0;
	background: #fff;
}

.block-game__item,
.music-art__item {
	font-size: 1rem;
	list-style: none;
	border-bottom: 1px solid #e8e6de;
	margin: 10px 16px;
}

.block-game__link,
.music-art__link {
	text-decoration: none;
	color: #14652F;
	padding: 10px 10px 10px;
	font-size: 1.3rem;
}

.block-game__link:hover,
.music-art__link:hover {
	text-decoration: none;
	color: #B8799E;
	text-align: center;
	padding: 2px;
	min-width: 30%;
}

/*оформление цитат*/
.blockquote {
	position: relative;
	padding-top: 30px;
}

.block-game__descrip {
	line-height: 1.9rem;
	padding: 0 10px 0;
	color: #444;
}

.blockquote__one {
	background: #fff4e0;
	color: #474c4f;
	padding: 60px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
}

.blockquote__one:before {
	font-family: FontAwesome;
	content: "\f10d";
	position: absolute;
	z-index: 20;
	left: 50%;
	transform: translateX(-50%);
	top: 60px;
	color: #474C4F;
	font-size: 20px;
	background: #FFF4E0;
	padding: 0 15px;
}

.blockquote__one:after {
	content: "";
	position: absolute;
	left: 15px;
	top: 60px;
	right: 15px;
	height: 4px;
	border-top: 1px dotted #474C4F;
	border-bottom: 1px dotted #474C4F;
}

.blockquote__text {
	font-size: 20px;
	letter-spacing: .05em;
	line-height: 1.4;
	text-align: center;
	font-style: normal;
	font-weight: 300;
}

/* social */
.social {
	width: 100%;
	display: flex;
	justify-content:center;

	/*outline: 1px solid black;*/

}
.social__list {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.social__item {
	margin-right: 10px;
	list-style-type: none;
}
.social__item a {
	opacity: 0.5;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	display: block;
	transition: all 0.5s ease;
	justify-content: center;
}


.social__item_vk a {
	background: #000000 url("../img/icon/vk.png") no-repeat center center;
}
.social__item_yt a {
	background: #000000 url("../img/icon/yt.png") no-repeat center center;
}
.social__item_fb a {
	background: #000000 url("../img/icon/fb.png") no-repeat center center;
}

/*footer*/
.footer {
	background-color: #040505;
	/*color:rgb(88, 201, 58);*/
	color: #fff;
	padding-bottom: 20px;
}
.footer__header {
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
	border-bottom: 2px solid #d9d9d9;
	flex-wrap: wrap;
}
.footer__brand {
	color:#fff;
}
.footer__nav {
list-style-type: none;
}
.nav__item {
	margin: 0 10px;
	font-size: 1rem;
}
.nav__link {
	text-transform: uppercase;
	color:rgb(88, 201, 58);
	transition: .3s all;

}
.nav__link:hover {
	color: #fff;
}
.footer__content {
	display: flex;
	padding: 20px 0;
	line-height: 1.7;
	font-size: 1rem;
}
.footer__block {
	width:(100% / 3);
	padding: 20px;
}
.footer__text {

}
.footer__map {
	display: flex;
	padding: 0 30px;
	border-right:1px solid #d9d9d9;
	border-left:1px solid #d9d9d9;
}
.footer__list {
	list-style-type: none;
	width: 50%;
	font-size: 1rem;
}
.list__item {
	padding: 5px;
}
.list__item:hover {
	color: #ffffff;
}
.list__link {
	color: #ffffff;
	margin-left: 10px;
}
.list__icon {

}
.list__link {
	margin-left: 5px;
	color: #ffffff;
	transition: .3s margin-left;
}
.footer__contact {

}
.contact__item {
	margin-right: 7px;
}
.contact__item {
	margin-bottom: 5px;
}


/*медиа запросы*/

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {
	.content-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
	}
	.blockquote {
		width: 100%;
	}

	.music-art__wrap,
	.bloc-game,
	.about,
	.main-header {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
	}

	.game,
	.music-art {
		width: 100%;
		padding: 10px 20px;
	}

	.game__text,
	.about__myname,
	.about__aboutme,
	.about__text {
		text-align: center;
	}

	.block-game__plan,
	.music-art__block {
		width: 100%;
	}

	.project-descrip {
		width: 100%;
	}

	.project {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
	}

	.picture {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	.picture__img {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.picture__picture {
		max-width: 100%;
	}

	.description {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		padding: 20px;
		background-color: #e7e7e7;
	}

	.description__block-right {
		width: 100%;
	}

	.description__block-left {
		margin-top: 20px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}

@media only screen and (max-width: 768px) {
	.contact__item {
		display: none;
	}

	.about-myphoto {
		float: none;
		margin: 0 auto;
	}

	.about-myname {
		margin-top: 24px;
	}

}

@media only screen and (max-width: 480px) {

}








